body, html{
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 960px;
    width: 960px;
}

.grid-item{

    background-color: lightgray;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#reset{
    margin-top: 20px;
    align-self: center;
    margin-bottom: 10px;
}